appdirs==1.4.3
asgiref==3.2.3
attrs==19.3.0
autopep8==1.5
black==19.10b0
cairocffi==1.1.0
CairoSVG==2.5.1
cffi==1.14.0
Click==7.0
cssselect2==0.2.2
defusedxml==0.6.0
Django==3.0.3
django-crispy-forms==1.8.1
entrypoints==0.3
flake8==3.7.9
html5lib==1.0.1
mccabe==0.6.1
pathspec==0.7.0
pep8==1.7.1
Pillow==7.0.0
pkg-resources==0.0.0
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
Pyphen==0.9.5
pytz==2019.3
regex==2020.2.18
six==1.14.0
sqlparse==0.3.0
tinycss2==1.0.2
toml==0.10.0
typed-ast==1.4.1
WeasyPrint==51
webencodings==0.5.1
yapf==0.29.0
